SPRING_DATASOURCE_URL=jdbc:mysql://127.0.0.1:3306/costbuddy?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=costbuddy_user
SPRING_DATASOURCE_PASSWORD=CostBuddy@2026
