COST_BUDDY_PORT=8766
COST_BUDDY_IMAGE=cloudcanal-registry.cn-shanghai.cr.aliyuncs.com/clougence/cost-buddy:latest-amd64

SPRING_DATASOURCE_URL=jdbc:mysql://host.docker.internal:3306/costbuddy?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=costbuddy_user
SPRING_DATASOURCE_PASSWORD=CostBuddy@2026

MOTHERBOARD_ENABLED=false
MOTHERBOARD_BASE_URL=http://host.docker.internal:8966
MOTHERBOARD_PRODUCT_ID=0
MOTHERBOARD_PRIVATE_KEY=
MOTHERBOARD_TIMEOUT=30s

COST_BUDDY_LOG_DIR=./deploy/data/logs
COST_BUDDY_UID=10001
COST_BUDDY_GID=10001

JAVA_OPTS=-Xms256m -Xmx1024m
